//@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

$theme: #818181;
$themeDarker: #007a9c;
$themeLighter: #97e8ff;
$grey1: grey;
$grey2: rgb(206, 206, 206);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes on-open{
  0% {
    background: $theme;
  }

  100% {
    background: transparent;
  }
}

@keyframes put-flag{
  0%{
    transform: translateX(-10px) rotate(-70deg);
  }
  100%{
    transform: translateX(0px) rotate(0deg);
  }
}

#minesweeper{
  font-family: 'Tahoma';
  #header{
    background: $theme;
    input[type=text] {
      border: none;
      background: $themeLighter;
      border: none;
    }
    
  }

  #minefield{
    .tile {
      outline: none;
      float: right;
      //border-radius: 1px;
      background: $theme;
      border: 1px solid rgb(255, 255, 255);
      box-shadow: 0 0 4px $theme;
      font-weight: bold;
      position: relative;
      &.opened{
        box-shadow: none;
        border-radius: none;
        //border: solid 1px rgba(0, 0, 0, 0.075);
        background: rgb(228, 228, 228);
        &::after{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          animation-name: on-open;
          animation-fill-mode: forwards;
          animation-duration: .5s;
          content: '';
        }
      }
      &.flag{
        &::after{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-size: cover;
          content: '';
          background-image: url(./flag3.png);

          animation-name: put-flag;
          animation-fill-mode: forwards;
          animation-duration: .5s;
        }
      }
    }
  }
}