@keyframes on-open {
    0% {
        background: $theme;
    }

    100% {
        background: transparent;
    }
}

@keyframes put-flag {
    0% {
        transform: translateX(-10px) rotate(-70deg);
    }
    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes fade {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes slide-from-top {
    0%{
        transform: translate(-50%, -100%);
    }

    100%{
        transform: translate(-50%, -50%);
    }
}