.btn {
    height: 4rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1em;
    outline: none;
    border: none;
    position: relative;
    color: $themeLighter;
    background: $themeDarker;
    padding: 0 2rem;
    transition: box-shadow .25s ease-in-out;
    cursor: pointer;
    span {
        @include center-xy;
        font-size: 2rem;
    }
    &.btn-round {
        width: 4rem;
    }
    &:hover{
        box-shadow: 0 0 .5rem greenyellow;
    }
}
