#minesweeper {
    padding: 1rem;
    box-shadow: 0 0 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    box-shadow: 0 0 1em $shadowColor;
    background: $themeLighter;
    display: inline-block;
    #header {
        & > * {
            margin: 0 1rem;
        }
        margin-bottom: 1rem;
        background: $theme;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        input[type="text"] {
            border: none;
            background: $themeLighter;
            border: none;
        }
        #reset {
            transition: background-image .2s ease-in-out;
            background-position: center;
            background-size: cover;
        }
        .counter {
            background-color: $themeDarker;
            height: 4rem;
            width: 16rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $themeLighter;
            font-size: 1.5rem;
            .counter-number {
                font-family: "Courier New", Courier, monospace;
                font-weight: bold;
                color: greenyellow;
                padding-left: 0.3rem;
            }
        }
        #settings {
            position: a;
        }
    }
    #minefield {
        margin: 0 auto;
        .tile {
            outline: none;
            float: right;
            //border-radius: 1px;
            background: $theme;
            border: 1px solid rgb(255, 255, 255);
            box-shadow: 0 0 4px $theme;
            font-weight: bold;
            position: relative;
            &.opened {
                box-shadow: none;
                border-radius: none;
                //border: solid 1px rgba(0,0,0,0.075);
                background: $themeLighter;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    animation-name: on-open;
                    animation-fill-mode: forwards;
                    animation-duration: 0.25s;
                    content: "";
                }
            }
            &.flag {
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    content: "";
                    background-image: url(./img/flag3.png);
                    animation-name: put-flag;
                    animation-fill-mode: forwards;
                    animation-duration: 0.25s;
                }
            }
            &.mine {
                background-size: cover;
                content: "*";
                background-image: url(./img/mine.png);
            }
        }
    }
}
